<!-------------- 問い合わせ方法選択 ---------------->
<% breadcrumb :select_inquiry %>

<div class='d-flex align-items-center'>
<div class="container">
  <div class="row">
    <h3 class="mx-auto mb-4 pb-2 text-center">お問い合わせ</h3>
  </div>
  <div class="row">
    <a class="mx-auto mb-4 pb-2 text-center btn btn-outline-dark" href="mailto:user@dammy.com">メールアプリを起動します</a>
  </div>
</div>
</div>
